@media (max-width: 450px), (max-height: 450px) {
  div#zine-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: scale(1.0);
  }

  div#zine-table-of-contents {
    display: none;
  }
}
